@using Bulky.Models.Models
@model List<Category> 
<div class="container pb-5">
    <div class="row pt-4 pb-6">
        <div class="col-6">
            <h4 class="text-primary display-6">CATEGORIES</h4>
        </div>
        <div class="col-6 text-end">
            <h3 class="text-primary">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i>
                    Create new Category
                </a>
            </h3>
        </div>
    </div>

    <table class="table table-bordered table-striped text-center">
    <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Actions</th>
    </tr>
    @foreach(var category in Model.OrderBy(x=>x.DisplayOrder))
    {
    <tr>
        <td>@category.Name</td>
        <td>@category.DisplayOrder</td>
        <td>
            <div class="w-30 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary mx-1">
                    <i class="bi bi-pencil-square"></i> 
                </a>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger mx-1">
                    <i class="bi bi-trash"></i> 
                </a>
            </div>
        </td>
    </tr>
    }
</table>
</div>