@model List<Category> 

<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h3 class="text-primary display-6">CATEGORIES</h3>
        </div>
        <div class="col-6 text-end">
            <h3 class="text-primary">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i>
                    Create new Category
                </a>
            </h3>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Order</th>
    </tr>
    @foreach(var category in Model.OrderBy(x=>x.DisplayOrder))
    {
    <tr>
        <td>@category.Name</td>
        <td>@category.DisplayOrder</td>
    </tr>
    }
</table>
</div>